*.a
/build-*/
/build/
/build-a0-review/
/build-asan/
/build-rel-asan/
/build-release/
/build-review/
/build-review-release/
/datasets/
datasets/
det_test*.cdet
*.exe
*.ilk
*.model
*.o
*.obj
*.pdb
Testing/
results/
